<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- font awesame -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- jquery -->
<!--     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --> 
   <!-- css -->
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>MUSIC COLLECTION</h1>

        <label for="genre">Scegli il tuo genere musicale:</label>
        <select  name="genre" id="genre" v-model='filterMusic'>
            <option value="0" selected>Tutti i generi</option>
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Jazz">Jazz</option>
            <option value="Metal">Metal</option>

        </select>

        <ul>
            <li v-for='item in filterGenre()'>
                <img v-bind:src="item.poster" alt=""></img>
                <div> {{item.author}}</div>
                <div> {{item.genre}}</div>
                <div> {{item.title}}</div>
                <div> {{item.year}}</div>
            </li>
        </ul>

    </div>
    
</body>
</html>